/*
Simple Template
*/



/* typography */
body {
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
    font-weight: bold;
}


/* login page */
#login {
	text-align: center;
}

#login div {
	padding: 20px;
	border-top: 1px solid;
	border-color: #000;
}

